.content {
	text-align: center;
	padding: 30px;
	margin: 0px auto;
	}

.details {
	margin-left: auto;
	margin-right: auto;
}

.clear {
    place-self: top;
}

header {
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
}

.header {
    position: relative;
    top: 0;
    height: 10rem;
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    background-image: url(https://p325k7wa.twic.pics/high/elden-ring/elden-ring/00-page-setup/elden-ring-new-header.jpg?twic=v1/cover=1920/step=10/quality=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    opacity: 0;
    display: grid;
    place-items: center;
}

.title {
    position: absolute;
    opacity: 1;
    z-index: 2;
}

.label {
    color: rgb(202, 131, 0);
}
body {
    margin: 0;
    background-image: radial-gradient(#3f3f3f, black);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    grid-template-rows: 10fr 1fr 2fr; 
}

button {
    background-color: black;
    color: white;
    padding: 1rem;
    margin: 1rem;
    height: fit-content;
    width: fit-content;
    font-size: larger;
    border: 1px solid #6600aa;
}

button:hover {
    background-color: grey;
}

img {
	border-radius: 5px;
	box-shadow: black;
}

h1 {
    color: white;
    place-self: center;
}

table,
td {
    border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
    border: 2px ridge grey;
	text-align: center;
	padding: 10px;
    color: white;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

table {
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: center;
}


td {
    padding: 1rem;
}

th {
    height: 4rem;
    font-size: 3rem;
    padding: 2rem;
}